$baseColor: blue;
$importantColor: darkBlue;
$warningColor: cyan;
$principalFont: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$secondaryFont: Tahoma, Geneva, sans-serif;
$shadow: 10px 10px 8px 5px darkgrey;
$border: 2px solid gray;
$borderRadius: 9px;