$baseColor: red;
$importantColor: brown;
$warningColor: pink;
$principalFont: Arial, Helvetica, sans-serif;
$secondaryFont: Verdana, Geneva, sans-serif;
$shadow: -10px 10px 8px 5px darkgrey;
$border: 2px solid gray;
$borderRadius: 2px;